img.mining_worm_front {
	width: 15%;
	height: auto;
}

img.banner {
	width: 50%;
	height: auto;
}

img.strip0 {
	padding: 5px;
}

img.strip1 {
	padding: 5px;
}

img.obsTrophiesImg {
	width: 100%;
	height: auto;
	margin-top: 5px;
	padding-left: 32px;
}

img.obsAoAImg {
	width: 100%;
	height: auto;
	margin-top: 5px;
	padding-left: 32px;
}

img.yt_logo {
	width: 50%;
	height: auto;
}

img.mining_worm_full {
	width: 75%;
	height: auto;
}

img.mining_worm_bust {
	width: 75%;
	height: auto;
}

img.mining_worm_head {
	width: 75%;
	height: auto;
}

hr.myHR01 { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 

i.italic {
	  font: italic bold;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif
	}
        
.w3-bar, h1, button {
	font-family: "Montserrat", sans-serif
}
        
.fa-anchor, .fa-coffee {
	font-size: 200px
}